$left: left;
$center: center;
$right: right;
$none: none;
$auto: auto;

//border styles
$dotted: dotted;
$dashed: dashed;
$solid: solid;
$double: double;
$groove: groove;
$ridge: ridge;
$inset: inset;
$outset: outset;
$none: none;
$hidden: hidden;

//position
$static: static;
$relative: relative;
$fixed: fixed;
$absolute: absolute;
$sticky: sticky;
$initial: initial;
$inherit: inherit;

//(display
$inline: inline;
$block: block;
$contents: contents;
$flex: flex;
$grid: grid;
$inline-block: inline-block;
$inline-flex: inline-flex;
$inline-grid: inline-grid;
$inline-table: inline-table;
