$background-color: #252323;
$text-color: #06f;
$div-border: 25px;
$button-background: #52ffb8;
$button-background-hover: #4dfff3;
$menu-background: #4d5257;
$menu-background-shadow: #747b8173;
$button-font-size: 16px;
