$default-aqua: #0ff;
$default-black: #000;
$default-blue: #00f;
$default-brown: #8b4513;
$default-darkblue: #00008b;
$default-darkgray: #a9a9a9;
$default-darkgreen: #006400;
$default-darkmagenta: #8b008b;
$default-deeppink: #ff1493;
$default-gray: #808080;
$default-green: #008000;
$default-indigo: #4b0082;
$default-lime: #0f0;
$default-magenta: #f0f;
$default-mediumblue: #0000cd;
$default-navy: #000080;
$default-red: #f00;
$default-yellow: #ff0;
$default-white: #fff;
