@import "importantColors";
@import "defaultValuesSize";
@import "defaultValues";
@import "defaultStyle";
@import "menu";

$header-height: 6.5%;
$menu-width: $percent-100;
$start-button-radius: 5px;

body {
  background-color: $background-color;
  color: $text-color;
}
