@import "defaultStyle";
@import "defaultValuesSize";
@import "importantColors";
@import "menu";

$button-padding: 10px;
$border-radius: 5px;
$timer-background: $default-black;
$false: #ff2c21;
$correct: #00ff1e;
$button-background-next: #52fff1;

body {
  background-color: $background-color;
  color: $default-black;
}

.quiz.quiz-total {
  background-color: $menu-background;
  border-radius: 5%;
  box-shadow: 2.5px 2.5px 7.5px 7.5px $menu-background-shadow;
  margin-left: 32.5%;
  margin-right: 32.5%;
  margin-top: $percent-10;
  text-align: left;
}

.quiz-total {
  transition-delay: 1s;
  transition-duration: 1s;
}

.finish-area {
  opacity: 0;
  transition-delay: 3.5s;
  transition-duration: 1s;
}

.h1-question {
  text-align: left;
}

.question {
  color: $default-white;
  padding-left: 15%;
  padding-top: 40px;
  text-align: left;
  width: auto;
}

.answer-sub-div {
  background-color: $default-white;
  border: $solid;
  border-color: $button-background;
  border-radius: $border-radius;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: $button-padding;
  padding-top: $button-padding;
  text-align: $left;
  width: 100%;

  &::target-text {
    padding-left: 5px;
  }

  &:hover {
    background-color: $button-background-hover;
    transition-duration: 1000ms;
  }

  &:not(:hover) {
    transition-duration: 1000ms;
  }
}

.answer-total {
  cursor: pointer;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
  width: 70%;
}

.answer-4 {
  margin-bottom: 25px;
}

.button {
  cursor: pointer;
}

.button-next {
  background-color: $button-background-next;
  border-color: $button-background;
  border-radius: $border-radius;
  color: $default-black;
  opacity: 0;
  padding: $button-padding;
  transition-duration: 1s;
}

.button-div-next {
  padding-left: 85%;
  padding-right: 5%;
  width: 10%;
}

.button-again {
  background-color: $button-background-next;
  border-color: $button-background;
  border-radius: $border-radius;
  color: $default-black;
  margin-top: 3%;
  padding: $button-padding;
  transition-duration: 1s;
}

.locked {
  background-color: $default-white;
  cursor: default;

  &.false {
    background-color: $false;

    &:hover {
      background-color: $false;
    }
  }

  &.correct {
    background-color: $correct;

    &:hover {
      background-color: $correct;
    }
  }

  &:hover {
    background-color: $default-white;
  }
}

.answer-span {
  padding-left: 5px;
}

.correct {
  background-color: $correct;
}

.false {
  background-color: $false;
}

#head-section {
  display: $flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
}

#timer-div {
  border: $solid;
  border-color: $button-background;
  border-radius: $border-radius;
  display: $flex;
  font-size: 25px;
  height: auto;
  left: 60%;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 119px;
  min-width: 100px;
  width: auto;
}

#timer-time-span {
  padding-left: 5%;
  position: relative;
  text-align: $right;
}

#timer-text-span {
  padding-left: 7.5%;
  text-align: $left;
}

.timer {
  color: $default-white;
}

.end-div {
  background-color: $menu-background;
  color: $default-white;
  padding: 5%;
  padding-bottom: 3%;
  text-align: $center;
}
